.App {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  margin: 0 5%;
}
.title{
  display: flexbox;
  margin: 10% 25% 5% 25%;
  color: rgba(0, 0, 0, 0.603);
}

.newgame{
  background-color: blueviolet;
  color: white;
  padding: 5px;
  border-radius: 15px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.newgame:hover{
  cursor: pointer;
}
.question{
  color: rgb(127, 129, 255);
  display: grid;
  grid-template-rows: auto auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 300px 300px 300px 300px;
  margin: 20px;
}
.question > h3{
  grid-column-start: 1;
  grid-column-end: 5;
}
.answer{
  grid-row-start: 2;
  width: 80%;
  display: inline-block;
  border-style: solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently*/
}
.setAnswer{
  text-align: center;
  color: white;
  background-color: rgb(127, 129, 255);
  grid-row-start: 2;
  width: 80%;
  display: inline-block;
  border-style: solid;
  border-radius: 15px;
  margin: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently*/
}
.checkButton{
  display: flex;
  border-style: solid;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}
.setAnswer:hover, .checkButton:hover, .answer:hover{
  cursor: pointer;
}
.result{
  display: flex;
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2; */

}
